{% extends 'basic/base1.html' %} {% block start %}

<div class="container py-5">
    <div class="col">
        <div class="row">
            <form method="get" class="mb-4">
                <h2>Filter by Categories</h2>
                <div class="form-check">
                    {% for category in categories %}
                    <input type="checkbox" class="form-check-inline " name="category" value="{{ category.id }}"
                     {% if category.id in selected_categories %}checked{% endif %}>
                    <label class="form-check-label">{{ category.name }}</label><br>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-2">Filter</button>
            </form>
        </div>
    <div class="">
        <h2>Filtered Items</h2>
        <div class="row mb-6">
            {% for item in items %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="fw-bolder display-2">{{ item.name }} {{ item.id }}</h1>
                        <p class="lead">{{ item.description }}</p>
                        <p class="lead">{{ item.location }}</p>
                        <p class="lead">{{ item.quantity }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-danger" href="/delete_item/{{item.id}}">
                            Delete
                        </a>
                        <a class="btn btn-primary" href="/update_item/{{item.id}}">
                            Update
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    </div>
</div>


{% endblock %}