{% extends 'basic/base.html' %}

{% block start %}

<div class="container mt-5">
    <form class="col-md-6 col-sm-8 col-xs-12 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert {{message.tags}} " role="alert">
            {{ message   }}
        </div>
        {% endfor %}
        {% endif %}

        <h2>Login</h2>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="Enter Username"
                placeholder="Enter Username" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <p>Don't have an account ? <a href="/register/" class="text-decoration-none">Register here</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <hr>
</div>
{% endblock %}
