{% extends 'app/base1.html' %}

{% block start %}

{% if no_applications %}
<div class="container text-center p-3 fw-bold ">
    <h1>{{ no_applications }}</h1>
</div>
{% endif %}

{% if queryset %}

<h2 class="mt-2">Applied History</h2>
<div class="row">
    <div class="col-xl-3 col-md-6 col-sm-3 ">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-white fw-bold">{{total}}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 col-sm-3 ">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Pending</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-white fw-bold">{{pending}}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 col-sm-3 ">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Approved</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-white fw-bold">{{approved}}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 col-sm-3 ">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Rejected</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-white fw-bold">{{rejected}}</div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        My History
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="">
            <thead>
                <tr>
                    <th>LTC ID</th>
                    <th>Approver Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for query in queryset %}
                <tr>
                    <td>{{ query.id}}</td>
                    <td>{{ query.approver_employee_name }}</td>
                    <td>{{ query.start_date }}</td>
                    <td>{{ query.end_date }}</td>
                    <td>{{ query.amount }}</td>
                    <td>
                        {% if query.approved %}
                        Approved ✅ on {{query.inspection_date}}
                        {% elif query.rejected %}
                        Rejected ❌ on {{query.inspection_date}}
                        {% else %}
                        Pending ❗
                        {% endif %}
                    </td>
                    <td>{% if not query.approved and not query.rejected %}
                        <a href="/edit-form/{{ query.id }}" class="btn btn-success btn-sm">Edit</a>
                        {% else %}

                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}
{% endblock %}