{% extends 'app/base1.html' %}

{% block start %}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-white fw-bold">{% if total %} {{total}} {% else %} 0 {% endif %}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Pending</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-white fw-bold">{% if pending %} {{pending}} {% else %} 0 {% endif %}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Approved</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-white fw-bold">{% if approved %} {{approved}} {% else %} 0 {% endif %}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Rejected</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-white fw-bold">{% if rejected %} {{rejected}} {% else %} 0 {% endif %}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}