{% extends 'recipe/base.html' %}

{% block start %}

<div class="container py-5">
    <div class="row mb-6  flex-lg-row-reverse">
        <div class="col-md-6 col-xl-7 mb-4 mb-lg-0 justify-content-center ">
            <!-- requires glightbox, please flag the option in the picostrap customizer panel-->
            <div class="lc-block align-items-center"><img class="img-fluid rounded shadow " 
                    src="/media/{{recipe.recipe_image}}"  width="300px"
                    height="200px" alt="{{ recipe.recipe_name}} Image">
            </div>
        </div><!-- /col -->
        <div class="col-md-6 col-xl-5">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h1 class="fw-bolder display-2">{{ recipe.recipe_name}}</h1>
                </div>
            </div><!-- /lc-block -->
            <!-- /lc-block -->

            <div class="lc-block mb-4">
                <div editable="rich">

                    <p class="lead">Recipe by {{ recipe.user.username}}</p>

                </div>
            </div>
            <div class="lc-block mb-4">
                <div editable="rich">
                    <p class="lead">{{ recipe.recipe_description }}</p>
                </div>
            </div>
            <div class="lc-block mb-4">
                <div editable="rich">
                    <p class="lead">{{ recipe.recipe_view_count }} Views</p>
                </div>
            </div>
            <!-- <div class="lc-block">
				<a class="btn btn-lg btn-primary" href="#" role="button">Get it now</a>
			</div> -->
        </div><!-- /col -->
    </div>
</div>

{% endblock %}