{% extends 'app/base1.html' %}
{% load static %}
{% block start %}

{% if employee %}

<style>
    /* Red Asterick class */
    .asterick {
        color: #FF0303;
    }
</style>

<div class="container">

    <form id="ltc" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2 class="text-center p-3">Travel Allowance Form</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="first" class="fw-bold">Employee Code <span class="asterick">*</span> </label>
                    <input type="text" class="form-control " value="{{ employee.employee_code }}" name="employee_code"
                        readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="last" class="fw-bold">Employee Name <span class="asterick">*</span></label>
                    <input type="text" class="form-control text-black"
                        value="{{employee.first_name}} {{ employee.last_name }}" name="employee_name" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="first" class="fw-bold">Employee Email <span class="asterick">*</span></label>
                    <input type="text" class="form-control" value="{{ employee.email_id }}" name="employee_email"
                        readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="last" class="fw-bold">Reporting Manager <span class="asterick">*</span></label>
                    <input type="text" class="form-control" value="{{ employee.reporting_manager }}"
                        name="reporting_manager_name " readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="last" class="fw-bold">Reporting Manager Email <span class="asterick">*</span></label>
                    <input type="text" class="form-control" value="{{ employee.reporting_manager_email }}"
                        name="reporting_manager_email " readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="mode" class="fw-bold">Travel Mode <span class="asterick">*</span></label>
                    <select class="form-select" name="travel_mode" id="mode" required>
                        <option value="Airways">Airways</option>
                        <option value="Railways">Railways</option>
                        <option value="Roadways">Roadways</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="from-date" class="fw-bold">From Date <span class="asterick">*</span></label>
                    <input type="date" class="form-control disabled" name="start_date" id="start-date" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="to-date" class="fw-bold">To Date <span class="asterick">*</span></label>
                    <input type="date" class="form-control" name="end_date" id="end-date" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="email" class="fw-bold">Amount(in Rs) <span class="asterick">*</span></label>
                    <input type="text" class="form-control" id="amount" placeholder="Amount" name="amount" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="file" class="fw-bold">Upload Documents(Max file size: 5MB,PDF only.)<span
                            class="asterick">*</span></label>
                    <input name="billing_documents" id="billing_documents" type="file" class="form-control"
                        accept="application/pdf" required>
                    <div class="invalid-feedback fw-bold" id="file-error-msg">
                        Please upload pdf file size less than 5 MB.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group p-2">
                    <label for="text" class="fw-bold">Reason <span class="asterick">*</span></label>
                    <textarea id="travel_reason" name="travel_reason" class="form-control" maxlength="500"
                        placeholder="Please provide your travel reason here." required></textarea>
                </div>
            </div>
        </div>

        <div class="p-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>
</div>
{% else %}
<h2>You are not allowed to use this app.</h2>
{% endif %}


<script>

    // Amount Number Validation 
    const amountInput = document.getElementById('amount');

    amountInput.addEventListener('input', function (event) {
        const inputValue = event.target.value;
        const validAmount = /^\d+(\.\d{1,2})?$/.test(inputValue);

        if (!validAmount) {
            event.target.value = '';
        }
    });


    // (START Date -> END Date) DatePicker Linkage 

    const startDateInput = document.getElementById('start-date');
    const endDateInput = document.getElementById('end-date');

    // Today's Date
    var today = new Date().toISOString().split('T')[0];

    // start date --> minimum -- no limit ,, maximum -- today
    document.getElementById('start-date').setAttribute('max', today);


    // Disable the end date (It will be disabled until start date is selected.)
    document.getElementById("end-date").disabled = true;



    // Start Date ->> Event Listener 
    // When start date is selected, end date will be enabled.
    // If Start date is cleared, end date will be disabled again.
    startDateInput.addEventListener('input', function (event) {
        const startDate = event.target.value;

        // End Date --> minimum -- start date ,, maximum -- today
        endDateInput.min = startDate;
        endDateInput.max = today;

        if (startDate) {
            document.getElementById("end-date").disabled = false; // When start date is selected, end date will be enabled.
        } else {
            document.getElementById("end-date").value = "";
            document.getElementById("end-date").disabled = true; // If Start date is cleared, end date will be cleared and disabled again.
        }
    });



    // Using inspect element , developer minded user can change the behavoir of dates by inspecting in the browser,
    // so ON FORM SUBMISSION , we will check if both the (startdate,endate) are not changed into future dates.
    document.getElementById('ltc').addEventListener('submit', function (event) {
        // event.preventDefault(); // Prevent form submission

        const form = document.getElementById('ltc');
        const start = new Date(document.getElementById('start-date').value);
        const end = new Date(document.getElementById('end-date').value);
        const today = new Date();

        if (start > today || end > today) {
            alert('Invalid date. Future dates are not allowed.');
        } else {
            // Proceed with form submission
            // this.submit();
        }
    });




    // Pdf size limit
    const input = document.getElementById('billing_documents');
    const errorMsg = document.getElementById('file-error-msg');

    input.addEventListener('change', (event) => {
        const target = event.target;
        if (target.files && target.files[0]) {

            /*Maximum allowed size in bytes
            5MB Example * 1024 * 1024
            Change first operand(multiplier) for your needs*/
            const maxAllowedSize = 5 * 1024 * 1024; // Maximum allowed size in bytes (5MB)

            if (target.files[0].size > maxAllowedSize) {
                target.value = '';
                errorMsg.style.display = 'block'; // Display the error message
            } else {
                errorMsg.style.display = 'none'; // Hide the error message if the file size is valid
            }
        }
    });

</script>

{% endblock %}