{% extends 'app/base1.html' %}

{% block start %}
<style>
    /* Red Asterick class */
    .asterick {
        color: #FF0303;
    }
</style>

<div class="container">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2 class="text-center p-3">Review Form</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="first" class="fw-bold">LTC ID </label>
                    <input type="number" class="form-control " value="{{ queryset.id }}" name="ltc_id" readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="last" class="fw-bold">Employee Code</label>
                    <input type="text" class="form-control text-black" value="{{ queryset.sender_employee_code }}"
                        name="sender_employee_code" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="first" class="fw-bold">Employee Name </label>
                    <input type="text" class="form-control" value="{{ queryset.sender_employee_name }}"
                        name="sender_employee_name" readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="last" class="fw-bold">Employee Email </label>
                    <input type="text" class="form-control" value="{{ queryset.sender_employee_email }}"
                        name="sender_employee_email" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="last" class="fw-bold">Approver Employee Name</label>
                    <input type="text" class="form-control" value="{{ queryset.approver_employee_name }}"
                        name="approver_employee_name" readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="last" class="fw-bold">Approver Employee Email</label>
                    <input type="text" class="form-control" value="{{ queryset.approver_employee_email }}"
                        name="approver_employee_email" readonly>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="from-date" class="fw-bold">Application Submission Date </label>
                    <input type="text" class="form-control" name="start_date"
                        value="{{ queryset.application_initiated_date }}" readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="to-date" class="fw-bold">Travel Mode </label>
                    <input type="text" class="form-control" name="end_date" value="{{ queryset.travel_mode }}" readonly>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="from-date" class="fw-bold">From Date </label>
                    <input type="text" class="form-control" name="start_date" value="{{ queryset.start_date }}"
                        readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="to-date" class="fw-bold">To Date </label>
                    <input type="text" class="form-control" name="end_date" value="{{ queryset.end_date }}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="email" class="fw-bold">Amount(in Rs) </label>
                    <input type="text" class="form-control" id="amount" name="amount" value="{{ queryset.amount }}"
                        readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="file" class="fw-bold">Billing Documents (PDF Only)<span
                            class="asterick">*</span></label>
                    <div class="d-flex align-items-center">
                        <input class="form-control" value="{{ queryset.billing_document|cut:'billing_documents/'}}"
                            name="billing_document" readonly />
                        <a href="/media/{{ queryset.billing_document }}" target="_blank"
                            class="btn btn-primary d-inline-block ms-2">View</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="text" class="fw-bold">Travel Reason <span
                        class="asterick">*</span></label>
                    <textarea id="travel_reason" name="travel_reason" class="form-control" rows="5" maxlength="500"
                        readonly>{{ queryset.travel_reason }}</textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group p-2">
                    <label class="fw-bold">Approve/Reject <span class="asterick">*</span></label>
                </div>
                <div class="form-group p-2 d-flex flex-row">

                    <div class="form-check">
                        <input class="form-check-input p-1" type="radio" name="result" id="approveRadio" required
                            value="APPROVED">
                        <label class="form-check-label" for="approveRadio">Approve Request</label>
                    </div>

                    <div class="form-check ps-5">
                        <input class="form-check-input p-1" type="radio" name="result" id="rejectRadio" value="REJECTED">
                        <label class="form-check-label" for="rejectRadio">Reject Request</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-2">
                    <label for="text" class="fw-bold">Approval/Rejection Remarks <span class="asterick">*</span></label>
                    <textarea id="approve_reject_reason" name="approve_reject_reason" class="form-control"
                        placeholder="Enter Your Approval/Rejection Remarks or Reason here." required maxlength="500"></textarea>
                </div>
            </div>

        </div>
        <div class="p-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>


    </form>
</div>





{% endblock %}